.message {
    display: flex;
    align-items: flex-end;
    gap: 12px;
    margin: 20px 0;
}

.imageAndText {
    display: flex;
    gap: 12px;
}

.imageAndText img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.text {
    background: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
    padding: 12px 18px;
    border-radius: 12px;
    max-width: 460px;
    position: relative;
}

.name {
    font-weight: 600;
    margin-bottom: 4px;
    color: #000;
}

.messageText {
    color: #555;
    font-size: 15px;
}

.time {
    font-size: 12px;
    color: #555;
    margin-left: 4px;
}
