.sendForm {
    display: flex;
    gap: 16px;
    margin-top: 20px;
    padding: 16px 0;
}

.textarea {
    flex: 1;
    padding: 14px 18px;
    border-radius: 30px;
    background: #f5f7fc;
    border: none;
    outline: none;
    font-size: 15px;
}

.button {
    padding: 12px 34px;
    background: #3a78f2;
    color: white;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.button:hover {
    background: #376de0;
}

.button:active {
    background: #2c57b8;
}
